<!-- Header -->
<div class="header">
    <form class="search-box" method="get">
        <i class="fa-solid fa-magnifying-glass icon"></i>
        <input type="text" placeholder="Buscar..." name="q" value="{%if query%}{{query}}{%endif%}"/>
    </form>
    <div class="header-right">
        <div class="avatar">
            <img src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg" alt="User" />
        </div>
    </div>
</div>